@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Take A Quiz!</h1>
    <a asp-controller="Quiz" asp-action="TakeQuiz" asp-route-id="" class="btn btn-secondary" style="width: 150px">
        C# Quiz
    </a>
    <a asp-controller="Quiz" asp-action="TakeQuiz" asp-route-id="" class="btn btn-secondary" style="width: 150px">
        SQL Quiz
    </a>
    <a asp-controller="Quiz" asp-action="TakeQuiz" asp-route-id="" class="btn btn-secondary" style="width: 150px">
        Python Quiz
    </a>
</div>

